<!-- form for data collection -->
<section class="pt-0 row gutter-2 justify-content-center" style="background-color:#F18E00;">
  <div class="col-md-6 pt-3 pl-2" style="display:flex; flex-direction:column; justify-content: center;">
    <div class="card card-price-2" style=" height:95vh;">
      <div class="card-body">
        <strong class="card-price">Trust & Bench</strong>
        <h4 class="card-title">Demandez votre benchmark personnalisé</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 pt-3 pr-2" style="display:flex; flex-direction:column; justify-content: center;">
    <div class="card card-price-2" style=" height:95vh;">
      <div class="card-body">
        <%= form_tag forms_path, method: "post" do %>
            <h4 class="card-title">Caractéristiques</h4>
            <%= select_tag(:approach_id, options_for_select(Approach.pluck(:label, :id), target_blank: true )) %>
            <%= select_tag(:activity_id, options_for_select(Activity.pluck(:label, :id), target_blank: true )) %>
            <%= select_tag(:size_id, options_for_select(Size.pluck(:label, :id), target_blank: true )) %>
            <h4 class="card-title">Données</h4>
            <%= content_tag :div, class: 'js-dependent-fields', data: { 'select-id': 'approach-id', 'option-value': 1} do %>
              <%= text_field_tag 'globale', nil, class: 'orm-control px-3', placeholder: 'Approche globale' %>
            <% end %>
            <%= text_field_tag 'finance', nil, class: 'orm-control px-3', placeholder: 'Approche par fonction - Finance' %>
            <h4 class="card-title">Contact</h4>
            <%= submit_tag "Je m'inscris",  class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</section>
<br>
<br>
<%= form_for(forms_path) do |f| %>
      <%= f.label :test %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :role %>
      <%= f.select(:role, options_for_select(Approach.pluck(:label, :id), target_blank: true ))  %>

      <%= content_tag :div, class: 'js-dependent-fields', data: { 'select-id': '_forms_role', 'option-value': 2} do %>
      <%= f.label :university %>
      <%= f.text_field :name, class: 'finance' %>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>