<div style="width:1000px;" class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header justify-content-end pt-0 pb-0">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body text-center pt-0 pb-0">
      <h3>Approche globale</h3>
      <h4>Saisie des metrics (2/3)</h4>
      <div class="progress-item">
          <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 66.6666%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span>67%</span></div>
          </div>
        </div>
      <div class="row" style="overflow: scroll; height: 300px;">
        <div class="col-4">
          <div class = "mt-4">
            <%= f.label "Chiffre d'affaires (M€):"%>
            <button style="border:none;" class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
              <i class="far fa-xs fa-question-circle qm-color"></i>
            </button>
            <%= f.text_field :ca_globale, class:"form-control" %>
          </div>
          <div>
            <%= f.label "SG&A (M€):" %>
            <button style="border:none;"  class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
              <i class="far fa-xs fa-question-circle qm-color"></i>
            </button>
            <%= f.text_field :sga, class:"form-control" %>
          </div>
          <div>
            <%= f.label "G&A (M€):" %>
            <button style="border:none;"  class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
              <i class="far fa-xs fa-question-circle qm-color"></i>
            </button>            
            <%= f.text_field :ga, class:"form-control" %>
          </div>
        </div>
        <div class="col-4">
          <div class = "mt-4">
            <div>
              <%= f.label "Coût Finance (M€):" %>
              <button style="border:none;"  class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
                <i class="far fa-xs fa-question-circle qm-color"></i>
              </button>
              <%= f.text_field :finance_globale, class:"form-control" %>
            </div>
            <div>
              <%= f.label "Dépenses IT (M€):" %>
              <button style="border:none;"  class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
                <i class="far fa-xs fa-question-circle qm-color"></i>
              </button>
              <%= f.text_field :it, class:"form-control" %>
            </div>
            <%= f.label "Selling & Marketing cost (M€):" %>
            <button style="border:none;"  class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
              <i class="far fa-xs fa-question-circle qm-color"></i>
            </button>
            <%= f.text_field :sm, class:"form-control" %>
          </div>
        </div>
        <div class="col-4">
          <div class = "mt-4">
            <%= f.label "Dépenses Marketing (M€):" %>
            <button style="border:none;" class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
              <i class="m-0 far fa-xs fa-question-circle qm-color"></i>
            </button>
            <%= f.text_field :marketing, class:"form-control" %>
          </div>
          <div>
            <%= f.label "Nombre de salariés (ETP):" %>
            <button style="border:none;"  class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
              <i class="far fa-xs fa-question-circle qm-color"></i>
            </button>
            <%= f.text_field :people, class:"form-control" %>
          </div>
          <div>
            <%= f.label "Fonction RH (ETP):" %>
            <button style="border:none;"  class="m-0 p-0" type="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Le chiffre d'affaires correspond à l'ensemble des ventes du dernier exercice exprimé en millions d'euro.">
              <i class="far fa-xs fa-question-circle qm-color"></i>
            </button>
            <%= f.text_field :rh, class:"form-control" %>
          </div>
        </div>
      </div>
    <div class="modal-footer pt-2 pb-2">    
      <button type="button" class="btn btn-primary btn-block step-3" data-dismiss="modal">Etape suivante</button>
    </div>
  </div>
</div>
