<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header justify-content-end">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body text-center">
      <h3>Approche globale</h3>
      <p>Informations de contact (3/3)</p>
      <div class="progress-item">
        <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
        <div>
          <%= f.label "Prénom" %>
          <%= f.text_field :first_name %>
        </div>
        <div>
          <%= f.label "Nom" %>
          <%= f.text_field :last_name %>
        </div>
        <div>
          <%= f.label "Courriel" %>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label "Entreprise" %>
          <%= f.text_field :company %>
        </div>
        <div>
          <%= f.label "Poste occupé" %>
          <%= f.text_field :position %>
        </div>
      </div>
    <div class="modal-footer">
      <%= f.submit "Demande du benchmark", class: "btn btn-primary step-4" %>
    </div>
  </div>
</div>

